{% extends 'employer/base_employer.html' %}
{% block home %}
<div class="well">
{% include 'employer/navbar.html' %}
<div class="mycontainer">

<div style="text-align: center; margin-bottom: 30px;">
	<h2>Need More People?</h2>
	<h5>Post Your Job And Hire Them Now</h5>
	<a type="submit" class="btn btn-danger" href="/employer/post/">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Post
	</a><br>
</div>

{% for job in jobs %}
{% if employer == job.employer %}
<div class="well" id="jobs" style="">
	<a data-toggle="popover" data-trigger="focus" onMouseOver="$(this).popover('show')"
		onMouseOut="$(this).popover('hide')" title="{{ job }}" 
		data-content="{{ job.description }}">
		<h7>{{ job }}</h7>
	</a>
	<p style="font-size: 15px;">{{ job.description|truncatechars:30 }}</p>
	<p class="text-muted" style="font-size: 12px;">{{ job.timestamp }}</p>
	<a href="/employer/job_{{ job.id }}" class="btn btn-info">{{ job.applicants.count }} people has applied</a>
	<br>
</div>
{% endif %}
{% endfor %}
</div>
</div>
{% endblock %}